<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <table>
        <thead>
        <tr>
            <th>Project Id</th>
            <th>Project Name</th>
            <th>Project Stage</th>
            <th>Project Description</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="aProject : ${projectsList}">
                <td th:text="${aProject.projectId}">
                <td th:text="${aProject.name}">
                <td th:text="${aProject.stage}">
                <td th:text="${aProject.description}">
            </tr>
        </tbody>

    </table>
</div>


    <div class="container">
        <table>
            <thead>
            <tr>
                <th>Employee Id</th>
                <th>Employee First Name</th>
                <th>Employee Last Name</th>
                <th>Employee Email</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="aEmployee : ${employeesList}">
                <td th:text="${aEmployee.id}">
                <td th:text="${aEmployee.firstName}">
                <td th:text="${aEmployee.lastName}">
                <td th:text="${aEmployee.email}">
            </tr>
            </tbody>

        </table>

</div>


</body>
</html>