<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create new Employee</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <form action="/employee/save" method="post" th:object="${employee}">
        <input type="text" placeholder="First name" th:field="${employee.firstName}">
        <input type="text" placeholder="Last name" th:field="${employee.lastName}">
        <input type="email" placeholder="Email" th:field="${employee.email}">

        <button type="submit">create Employee</button>
    </form>
</div>



</body>
</html>