<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">">
<head>
    <meta charset="UTF-8">
    <title>Create New Project</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <form action="/project/save" method="post" th:object="${project}">
        <input type="text" placeholder="Project name" th:field="${project.name}">

        <select th:field="${project.stage}">
            <option th:value="NONSTAGED">Not Started</option>
            <option th:value="INPROGRESS">In progress</option>
            <option th:value="Completed">Completed</option>
        </select>

        <textarea type="text" placeholder="Enter Project Description" th:field="${project.description}">
        </textarea>

        <button type="submit">create Project</button>
    </form>
</div>


</body>
</html>
