<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts :: header"></head>
<body>

<nav th:replace="layouts :: navbar"></nav>

<div class="container">
    <form action="/employee/save" method="post" th:object="${employee}">
        <input type="text" placeholder="First name" th:field="${employee.firstName}">
        <input type="text" placeholder="Last name" th:field="${employee.lastName}">
        <input type="email" placeholder="Email" th:field="${employee.email}">

        <button type="submit">create Employee</button>
    </form>
</div>



</body>
</html>