<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: head">
</head>

<body>

<nav th:replace="layouts :: navbar"></nav>

<div class="container">
    <h3>Projects Directory</h3>
    <hr>

    <!--  Add New Project Button -->
    <a th:href="@{/projects/new-project}"
       class="btn btn-primary btn-sm mb-3">
        New Project
    </a>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Project Id</th>
            <th>Project Name</th>
            <th>Project Stage</th>
            <th>Project Description</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="aProject : ${projectsList}">
            <td th:text="${aProject.projectId}">
            <td th:text="${aProject.name}">
            <td th:text="${aProject.stage}">
            <td th:text="${aProject.description}">
        </tr>
        </tbody>

    </table>
</div>
</body>

</html>