<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts :: header"></head>
<body>

<nav th:replace="layouts :: navbar"></nav>


<div class="container">
    <form action="/project/save" method="post" th:object="${project}">
        <input type="text" placeholder="Project name" th:field="${project.name}">

        <select th:field="${project.stage}">
            <option th:value="NONSTAGED">Not Started</option>
            <option th:value="INPROGRESS">In progress</option>
            <option th:value="Completed">Completed</option>
        </select>

        <textarea type="text" placeholder="Enter Project Description" th:field="${project.description}">
        </textarea>

        <button type="submit">create Project</button>
    </form>
</div>


</body>
</html>
